---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/358309981981/test_aday_from_quiet
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=QueueArn&QueueUrl=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F358309981981%2Ftest_aday_from_quiet&Timestamp=2016-03-30T17%3A21%3A33Z&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160330T172133Z
      X-Amz-Content-Sha256:
      - 7d7acede88dcf529fbe007f6a207fe266478ef41a8c865bdcc4fc5098b3f2be5
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<QUIET_AWS_ACCESS_KEY>/20160330/us-east-1/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=80b9bead27174f610a1d099e454804f0bad1f472341e6889d68b88cae03ad40e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 63d23634-81f5-54ac-90d4-79428ca8fed2
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>QueueArn</Name><Value>arn:aws:sqs:us-east-1:358309981981:test_aday_from_quiet</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>63d23634-81f5-54ac-90d4-79428ca8fed2</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Wed, 30 Mar 2016 17:21:33 GMT
[...]
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/358309981981/test_aday_from_quiet
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F358309981981%2Ftest_aday_from_quiet&Timestamp=2016-03-30T17%3A21%3A33Z&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160330T172133Z
      X-Amz-Content-Sha256:
      - c1fa612108080fa516189ad6e51ecac893dc81be0818c65f10f839460d57e1f1
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<QUIET_AWS_ACCESS_KEY>/20160330/us-east-1/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=66ed5106e5726da289387fdc7d17d68b7041a86f6b4112568aa8dfc7f6047b75
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 2c4edad5-8203-5bad-a6d5-95a38f5d0dd1
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><Body>&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;&#xD;
        &lt;EventMessage xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; MessageId=&quot;fddfbf42-ea7c-49d1-8182-729375cc0ed7&quot; MessageDate=&quot;2016-03-30T17:20:32.5288897Z&quot; DocumentType=&quot;ShipmentOrderResult&quot; ClientId=&quot;ADAY&quot; BusinessUnit=&quot;ADAY&quot; Warehouse=&quot;dvn&quot; DocumentName=&quot;SoResultV2_ADAY_H11111111111_20160330_132028265.xml&quot; xmlns=&quot;http://schemas.quietlogistics.com/V2/EventMessage.xsd&quot;&gt;&#xD;
          &lt;Extension /&gt;&#xD;
        &lt;/EventMessage&gt;</Body><MD5OfBody>7717afdf47e9803b3b6352d3c8f3fb38</MD5OfBody><ReceiptHandle>AQEBbThZdgjjFTaqMuXsxnVADZp9WjXZygHTfb0Yb5U/X7TNlpSKjBMLm3UHZZ1hHa3Ip4JIlPsTmWa3JPQ6mxbubgnpjxkBXs7n2M9ysHXm3AGcbdUR9cvcwONH9soK+mBYAs1yTqJz41wrTZYaCrxGyztiz5smtACxzDI7ePBAEt+7KkSW71oGn1e8Xy4GF4XJaAbf4LkRVoK1vBT1SBv3ybU/oVt4AigYTKLv6NZua+S3Q9OZ1wrCOZm1kVPpwoRtc+RN1sXl7ocCImsCYt9I6aIdKajLLASnWPkvIpf3rJpOOgvzUJ8XwMkKrBSdulNiwltpBKErQ4MpicKATeJQnzhEyj9o8W+CDiEqoWYiEYU+tMkO4j6aBizsxLYJGAu1LVHLLnfT/8jUxfsNoyr9UQ==</ReceiptHandle><MessageId>246104a4-0216-43d2-a822-2cce847868de</MessageId></Message></ReceiveMessageResult><ResponseMetadata><RequestId>2c4edad5-8203-5bad-a6d5-95a38f5d0dd1</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Wed, 30 Mar 2016 17:21:34 GMT
[...]
- request:
    method: get
    uri: https://test-aday-from-quiet.s3.amazonaws.com/?versioning=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <QUIET_AWS_ACCESS_KEY>:JNNAN931pAISci2dnyiDiJiOz54=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - CE8249675CF5219E
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"/>
  recorded_at: Wed, 30 Mar 2016 17:21:34 GMT
- request:
    method: get
    uri: https://test-aday-from-quiet.s3.amazonaws.com/SoResultV2_ADAY_H11111111111_20160330_132028265.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <QUIET_AWS_ACCESS_KEY>:eI38QRfBIqzCBfZrNEflqXBlQ8k=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - D44A0E06B4E7B845
      Last-Modified:
      - Wed, 30 Mar 2016 17:20:35 GMT
      X-Amz-Expiration:
      - expiry-date="Thu, 14 Apr 2016 00:00:00 GMT", rule-id="MGIxNGE5MTMtMWI4OC00MTRkLWJlYTMtYjQ2NjQ5MGQwYzNl"
      Etag:
      - '"afd95968da8c255b16212d3cf7fc6216"'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<SOResult xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" ClientID=\"ADAY\" BusinessUnit=\"ADAY\"
        OrderNumber=\"H11111111111\" DateShipped=\"2016-03-30T17:20:21.9964321Z\"
        FreightCost=\"0\" CartonCount=\"1\" Warehouse=\"dvn\" xmlns=\"http://schemas.quiettechnology.com/V2/SOResultDocument.xsd\">\r\n
        \ <Line Line=\"1\" ItemNumber=\"SPREE-T-SHIRT\" Quantity=\"1\" ExceptionCode=\"\"
        Tax=\"0\" Total=\"0\" SubstitutedItem=\"\" />\r\n  <Carton CartonId=\"S99H11111111111-1\"
        TrackingId=\"1Z1006639560001\" Carrier=\"UPS\" CartonNumber=\"1\" ServiceLevel=\"GROUND\"
        Weight=\"1.2\" FreightCost=\"3.05\" HandlingFee=\"0\" Surcharge=\"0\">\r\n
        \   <Content Line=\"1\" ItemNumber=\"SPREE-T-SHIRT\" Quantity=\"1\" />\r\n
        \ </Carton>\r\n  <Extension>R762997806</Extension>\r\n</SOResult>"
  recorded_at: Wed, 30 Mar 2016 17:21:35 GMT
recorded_with: VCR 3.0.1
