---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/358309981981/test_aday_from_quiet
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=QueueArn&QueueUrl=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F358309981981%2Ftest_aday_from_quiet&Timestamp=2016-03-29T23%3A25%3A33Z&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T232533Z
      X-Amz-Content-Sha256:
      - bb322ce4bd2d558da36541995194b57157a4cc08e430651bd624209bc8589c56
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<QUIET_AWS_ACCESS_KEY>/20160329/us-east-1/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=521ad3f6fa8248e40bba09b1efd59082fececd637d73f4c437b1267c9f186b38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 49b52556-8f1d-5a80-b348-6a239e308c3a
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>QueueArn</Name><Value>arn:aws:sqs:us-east-1:358309981981:test_aday_from_quiet</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>49b52556-8f1d-5a80-b348-6a239e308c3a</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Tue, 29 Mar 2016 23:25:33 GMT
[...]
