---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=test_aday_from_quiet&Timestamp=2016-03-29T19%3A53%3A01Z&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T195301Z
      X-Amz-Content-Sha256:
      - 8653f48856cde85685cc9ee490d778f49210bfc94df977c806e199beb74d7605
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AMAZON_ACCESS_KEY>/20160329/us-east-1/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=22c1b13de12359cc5e3b768e366c4493fe89cc5cdfd9a030c5823bcd1fc8f604
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 8b6b38da-f26a-53fc-b6b1-77ae2d340ae7
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.us-east-1.amazonaws.com/358309981981/test_aday_from_quiet</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>8b6b38da-f26a-53fc-b6b1-77ae2d340ae7</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Tue, 29 Mar 2016 19:53:02 GMT
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/358309981981/test_aday_from_quiet
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&MaxNumberOfMessages=10&QueueUrl=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F358309981981%2Ftest_aday_from_quiet&Timestamp=2016-03-29T19%3A53%3A02Z&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T195302Z
      X-Amz-Content-Sha256:
      - 45aebf8255a0776d6bfd13c1e1a99b744742973f47ac020fe3943a5216cc36cc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AMAZON_ACCESS_KEY>/20160329/us-east-1/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=e4f7d6c09cfd452db8e37854b3dd713f8eebffd79012ac1734ad73b8eb96d9a5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - c5c98908-c5d9-56de-907d-c67c1a8736e7
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><Body>&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;&#xD;
        &lt;ErrorMessage xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; OriginalMessageId=&quot;438f5183-5b8c-42bb-8086-8714e55e4966&quot; ResponseDate=&quot;2016-03-29T18:16:41.5374299Z&quot; ClientId=&quot;ADAY&quot; BusinessUnit=&quot;ADAY&quot; ResultCode=&quot;1030&quot; ResultDescription=&quot;Document: ADAY_ShipmentOrder_H15535307815_20160329_141584[...]
[...]
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/358309981981/test_aday_from_quiet
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&MaxNumberOfMessages=10&QueueUrl=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F358309981981%2Ftest_aday_from_quiet&Timestamp=2016-03-29T19%3A58%3A12Z&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T195812Z
      X-Amz-Content-Sha256:
      - 0ed57ad894ef5cb377f6743f25674bd71cfb0a0db32ee117924aadfe1474b458
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AMAZON_ACCESS_KEY>/20160329/us-east-1/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=f2962a4552c685f957f814cfda248b863407526db2bba2a061a4c176b06c38aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 4055c943-a82c-55eb-a667-863748b9a6d5
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult/><ResponseMetadata><RequestId>4055c943-a82c-55eb-a667-863748b9a6d5</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Tue, 29 Mar 2016 19:58:12 GMT
recorded_with: VCR 3.0.1
