---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/358309981981/test_aday_from_quiet
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=QueueArn&QueueUrl=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F358309981981%2Ftest_aday_from_quiet&Timestamp=2016-03-30T18%3A09%3A16Z&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160330T180916Z
      X-Amz-Content-Sha256:
      - 65b8daf47e206e17be40dd31dff2279138a77471ae3b9522730c580a6092fa10
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<QUIET_AWS_ACCESS_KEY>/20160330/us-east-1/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=fda3939ef56e0bb7340d4116d8df8ea4a54a6a44adc240174f6ad0c5f362a9d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 7bd4f5b6-94f0-5728-8e00-bac08c7cd5ba
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>QueueArn</Name><Value>arn:aws:sqs:us-east-1:358309981981:test_aday_from_quiet</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>7bd4f5b6-94f0-5728-8e00-bac08c7cd5ba</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Wed, 30 Mar 2016 18:09:16 GMT
[...]
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/358309981981/test_aday_from_quiet
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-1.amazonaws.com%2F358309981981%2Ftest_aday_from_quiet&Timestamp=2016-03-30T18%3A09%3A16Z&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160330T180916Z
      X-Amz-Content-Sha256:
      - 7faeb52f6dadbb040a7a8c9401110d7f5494064e1e7b0003e98b22dd356acaa1
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<QUIET_AWS_ACCESS_KEY>/20160330/us-east-1/sqs/aws4_request,
        SignedHeaders=content-length;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=070bbc514908fd2b221ee32881eb6bc0ce3be104555cb34bcdc2d060e87e2980
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - dcf1ca7c-f7ed-5a2b-867f-850aef617f5c
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><Body>&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;&#xD;
        &lt;ErrorMessage xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; OriginalMessageId=&quot;668bb744-f9c3-4d24-8474-50a6ff84101c&quot; ResponseDate=&quot;2016-03-30T18:06:58.8003592Z&quot; ClientId=&quot;ADAY&quot; BusinessUnit=&quot;ADAY&quot; ResultCode=&quot;1030&quot; ResultDescription=&quot;Document: ADAY_ShipmentOrder_H22222222222_20160329_202020[...]
[...]
- request:
    method: get
    uri: https://test-aday-from-quiet.s3.amazonaws.com/?versioning=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - AWS <QUIET_AWS_ACCESS_KEY>:ugZJq+gvp4LMfX/jkI3zV0TnTnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 83036EBD93921E2C
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <VersioningConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/"/>
  recorded_at: Wed, 30 Mar 2016 18:09:17 GMT
recorded_with: VCR 3.0.1
